{% extends 'base/base.html' %}
{% load static %}
{% block styles %}{% endblock styles %}
{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <div class="content">
                <h2 class="empty_h_1">Создание элемента ленты</h2>
                <form href="{% url 'timeline:create_block' %}" enctype="multipart/form-data" method="post"
                      class="add_edit_form">
                    {% csrf_token %}
                    {% for edit in form %}
                        <p class="form_p">{{ edit.label }}</p>
                        {% if  edit.label  == 'Пользователь' %}
                            <p class="small_details_text">Оставьте пустым для рссылки по всем пользователям</p>
                        {% endif %}
                        {% if  edit.label  == 'Игра' %}
                            <p class="small_details_text">Может быть пустым для простых сообщений</p>
                        {% endif %}
                        <p class="form_edit">{{ edit }}</p>
                        {% for error in edit.errors %}
                            <p class="err">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button type="submit" class="btn btn-success add_btn">Создать элемент ленты</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}