{% extends 'base/base.html' %}
{% load static %}
{% block styles %}{% endblock styles %}
{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <div class="content">
                <h2 class="empty_h_1">Редактирование элемента ленты</h2>
                <form enctype="multipart/form-data" method="post" class="add_edit_form">
                    {% csrf_token %}
                    {% for edit in form %}
                        <p class="form_p">{{ edit.label }}</p>
                        {% if edit.label == "Фото" and edit.value %}
                            <img src="/media/{{ edit.value }}" alt="Timeline block image" title="Timeline block imag"
                                 class="cover">
                        {% endif %}
                        <p class="form_edit">{{ edit }}</p>
                        {% for error in edit.errors %}
                            <p class="err">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button type="submit" class="btn btn-success add_btn">Сохранить изминения</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}