{% extends 'base/base.html' %}
{% load static %}
{% block styles %}{% endblock styles %}
{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <div class="content">
                <div class="d_flex">
                    <h2 class="empty_h_1">Обзор квеста</h2>
                    <a href="{% url 'quests:gallery' quest.pk %}" class="non_href ml-auto">
                        <button class="btn btn-info venue_info_btn">Галерея</button>
                    </a>
                    <a href="{% url 'quests:edit' quest.pk %}" class="non_href">
                        <button class="btn btn-warning venue_info_btn">Редактировать</button>
                    </a>
                    <a href="{% url 'quests:delete' quest.pk %}" class="non_href">
                        <button class="btn btn-danger venue_info_btn">Удалить</button>
                    </a>
                </div>
                <hr>
                <p class="details_block">
                    <span class="big_details_text">Название:</span>
                    <span class="small_details_text"> {{ quest.name }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">Номер телефона:</span>
                    <span class="small_details_text"> {{ quest.phone }}</span>
                </p>
                {% if quest.description %}
                    <p class="details_block">
                        <span class="big_details_text">Описание:</span>
                        <span class="small_details_text"> {{ quest.description }}</span>
                    </p>
                {% endif %}
                <p class="details_block">
                    <span class="big_details_text">Локация:</span>
                    <span class="small_details_text"> {{ quest.location }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">X координата:</span>
                    <span class="small_details_text"> {{ quest.x_coordinate }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">У координата:</span>
                    <span class="small_details_text"> {{ quest.y_coordinate }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">Рейтинг:</span>
                    <span class="small_details_text"> {{ quest.rating }}</span>
                </p>
                {% if quest.photo %}
                    <p class="details_block">
                        <span class="big_details_text">Фото:</span>
                        <br>
                        <img src="{{ quest.photo.url }}" alt="Quest photo" title="Quest photo" class="cover">
                    </p>
                {% endif %}
                {% if quest.cover_image %}
                    <p class="details_block">
                        <span class="big_details_text">Обложка:</span>
                        <br>
                        <img src="{{ quest.cover_image.url }}" alt="Quest cover image" title="Quest cover image"
                             class="cover">
                    </p>
                {% endif %}
            </div>
            <div class="content">
                {% if metro_stations %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Станции метро для квеста</h2>
                        <a href="{% url 'quests:create_metro_station' quest.pk %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить станцию метро</button>
                        </a>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Цвет</th>
                                <th class="actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for station in metro_stations %}
                                <tr>
                                    <td>{{ station.name }}</td>
                                    <td><span
                                            style="border-bottom: 4px solid {{ station.color }}">{{ station.color }}</span>
                                    </td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'quests:edit_metro_station' quest.pk station.pk %}"
                                           class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'quests:delete_metro_station' quest.pk station.pk %}"
                                           class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h4 class="empty_h_1">Для этого квеста нет станций метро!</h4>
                        <a href="{% url 'quests:create_metro_station' quest.pk %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить станцию метро</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="content">
                {% if games %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Игры по квесту</h2>
                        <a href="{% url 'quests:create' %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить игру</button>
                        </a>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th>Название</th>
                                <th class="date_time">Дата и время</th>
                                <th>Площадка</th>
                                <th>Уровень игры</th>
                                <th>Цена</th>
                                <th class="actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td class="id">
                                        <a href="{% url 'games:details' game.pk %}" class="object_link">
                                            {{ game.pk }}
                                        </a>
                                    </td>
                                    <td>{{ game.title }}</td>
                                    <td>{{ game.timespan }}</td>
                                    <td>
                                        <a href="{% url 'quests:details' game.quest.pk %}" class="object_link">
                                            {{ game.quest.name }}
                                        </a>
                                    </td>
                                    <td>{{ game.get_level_display }}</td>
                                    <td>{{ game.price }} {{ game.currency }}</td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'games:edit' game.pk %}" class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'games:delete' game.pk %}" class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                        <a href="{% url 'games:cancel' game.pk %}" class="non_href">
                                            <button class="btn btn-block cancel_btn">Отменить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Для этого квеста нет игр!</h2>
                        <a href="{% url 'games:create' %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить игру</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="content">
                {% if canceled_games %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Отмененные игры по квесту</h2>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th>Название</th>
                                <th class="date_time">Дата и время</th>
                                <th>Площадка</th>
                                <th>Уровень игры</th>
                                <th>Цена</th>
                                <th class="canceled_actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for canceled_game in canceled_games %}
                                <tr>
                                    <td class="id">
                                        <a href="{% url 'games:details' canceled_game.pk %}" class="object_link">
                                            {{ canceled_game.pk }}
                                        </a>
                                    </td>
                                    <td>{{ canceled_game.title }}</td>
                                    <td>{{ canceled_game.timespan }}</td>
                                    <td>
                                        <a href="{% url 'games:details' canceled_game.quest.pk %}" class="object_link">
                                            {{ canceled_game.quest.name }}
                                        </a>
                                    </td>
                                    <td>{{ canceled_game.get_level_display }}</td>
                                    <td>{{ canceled_game.price }} {{ canceled_game.currency }}</td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'games:edit' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'games:delete' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                        <a href="{% url 'games:renew' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-block renew_btn">Возобновить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h4 class="empty_h_1">Для этого квеста нет отмененных игр!</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}