{% extends 'base/base.html' %}
{% load static %}
{% block styles %}{% endblock styles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="tabs content">
                    <ul class="nav nav-pills">
                        <li class="nav-item tab_item">
                            <a data-toggle="tab" class="nav-link active" href="#games" role="tab" aria-controls="games"
                               aria-selected="true">Игры</a>
                        </li>
                        <li class="nav-item tab_item">
                            <a data-toggle="tab" class="nav-link" href="#canceled_games" role="tab"
                               aria-controls="canceled_games" aria-selected="true">Отмененные игры</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
                        <div class="content">
                            <div class="d-flex">
                                <h2 class="content_header">Игры</h2>
                                <a href="{% url 'games:create' %}" class="non_href ml-auto">
                                    <button class="btn btn-success add_btn">Добавить игру</button>
                                </a>
                            </div>
                            <hr class="content_hr">
                            {% if games %}
                                <div class="table_content">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="id">ID</th>
                                            <th>Название</th>
                                            <th>Жанр</th>
                                            <th class="date_time">Дата и время</th>
                                            <th>Длительность</th>
                                            <th>Квест</th>
                                            <th>Уровень квеста</th>
                                            <th>Цена</th>
                                            <th>MIN количесво участников</th>
                                            <th>MAX количесво участников</th>
                                            <th>Количесво участников</th>
                                            <th class="actions">Действия</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for game in games %}
                                            <tr>
                                                <td class="id">
                                                    <a href="{% url 'games:details' game.pk %}" class="object_link">
                                                        {{ game.pk }}
                                                    </a>
                                                </td>
                                                <td>{{ game.title }}</td>
                                                <td>{{ game.genre }}</td>
                                                <td>{{ game.timespan }}</td>
                                                <td>{{ game.duration }} минут</td>
                                                <td>
                                                    <a href="{% url 'quests:details' game.quest.pk %}"
                                                       class="object_link">
                                                        {{ game.quest.name }}
                                                    </a>
                                                </td>
                                                <td>{{ game.get_level_display }}</td>
                                                <td>{{ game.price }} {{ game.currency }}</td>
                                                <td>{{ game.min_players_count }}</td>
                                                <td>{{ game.max_players_count }}</td>
                                                <td>{{ game.players_count }}</td>
                                                <td class="d_flex justify-content-center">
                                                    <a href="{% url 'games:edit' game.pk %}" class="non_href">
                                                        <button class="btn btn-warning edit_btn">Редактировать</button>
                                                    </a>
                                                    <a href="{% url 'games:delete' game.pk %}" class="non_href">
                                                        <button class="btn btn-danger delete_btn">Удалить</button>
                                                    </a>
                                                    <a href="{% url 'games:cancel' game.pk %}" class="non_href">
                                                        <button class="btn btn-block cancel_btn">Отменить</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <h4 class="empty_h_1">Список игр пуст!</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="canceled_games" role="tabpanel"
                         aria-labelledby="canceled-games-tab">
                        <div class="content">
                            <div class="d-flex">
                                <h2 class="content_header">Отмененные игры</h2>
                            </div>
                            <hr class="content_hr">
                            {% if canceled_games %}
                                <div class="table_content">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th class="id">ID</th>
                                            <th>Название</th>
                                            <th>Жанр</th>
                                            <th class="date_time">Дата и время</th>
                                            <th>Длительность</th>
                                            <th>Квест</th>
                                            <th>Уровень квеста</th>
                                            <th>Цена</th>
                                            <th>MIN количесво участников</th>
                                            <th>MAX количесво участников</th>
                                            <th>Количесво участников</th>
                                            <th class="canceled_actions">Действия</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for canceled_game in canceled_games %}
                                            <tr>
                                                <td class="id">
                                                    <a href="{% url 'games:details' canceled_game.pk %}"
                                                       class="object_link">
                                                        {{ canceled_game.pk }}
                                                    </a>
                                                </td>
                                                <td>{{ canceled_game.title }}</td>
                                                <td>{{ canceled_game.genre }}</td>
                                                <td>{{ canceled_game.timespan }}</td>
                                                <td>{{ canceled_game.duration }} минут</td>
                                                <td>
                                                    <a href="{% url 'games:details' canceled_game.quest.pk %}"
                                                       class="object_link">
                                                        {{ canceled_game.quest.name }}
                                                    </a>
                                                </td>
                                                <td>{{ canceled_game.get_level_display }}</td>
                                                <td>{{ canceled_game.price }} {{ canceled_game.currency }}</td>
                                                <td>{{ canceled_game.min_players_count }}</td>
                                                <td>{{ canceled_game.max_players_count }}</td>
                                                <td>{{ canceled_game.players_count }}</td>
                                                <td class="d_flex justify-content-center">
                                                    <a href="{% url 'games:edit' canceled_game.pk %}" class="non_href">
                                                        <button class="btn btn-warning edit_btn">Редактировать</button>
                                                    </a>
                                                    <a href="{% url 'games:delete' canceled_game.pk %}"
                                                       class="non_href">
                                                        <button class="btn btn-danger delete_btn">Удалить</button>
                                                    </a>
                                                    <a href="{% url 'games:renew' canceled_game.pk %}" class="non_href">
                                                        <button class="btn btn-block renew_btn">Возобновить</button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <h4 class="empty_h_1">Список отмененных игр пуст!</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}