{% extends 'base/base.html' %}
{% load staticfiles %}
{% block styles %}{% endblock styles %}
{% block content %}
    <div class="container-fluid">
        <div class="col-12">
            <div class="content">
                <div class="d_flex">
                    <h2 class="empty_h_1">Обзор площадки</h2>
                    <a href="{% url 'venues:edit' venue.pk %}" class="non_href ml-auto">
                        <button class="btn btn-warning venue_info_btn">Редактировать</button>
                    </a>
                    <a href="{% url 'venues:delete' venue.pk %}" class="non_href">
                        <button class="btn btn-danger venue_info_btn">Удалить</button>
                    </a>
                </div>
                <hr>
                <p class="details_block">
                    <span class="big_details_text">Название:</span>
                    <span class="small_details_text"> {{ venue.name }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">Локация:</span>
                    <span class="small_details_text"> {{ venue.location }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">X координата:</span>
                    <span class="small_details_text"> {{ venue.x_coordinate }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">У координата:</span>
                    <span class="small_details_text"> {{ venue.y_coordinate }}</span>
                </p>
                <p class="details_block">
                    <span class="big_details_text">Рейтинг:</span>
                    <span class="small_details_text"> {{ venue.rating }}</span>
                </p>
                {% if venue.cover_image %}
                    <p class="details_block">
                        <span class="big_details_text">Обложка:</span>
                        <br>
                        <img src="{{ venue.cover_image.url }}" alt="Venue cover image" title="Venue cover image"
                             class="cover">
                    </p>
                {% endif %}
            </div>
            <div class="content">
                {% if metro_stations %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Станции метро для площадки</h2>
                        <a href="{% url 'venues:create_metro_station' venue.pk %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить станцию метро</button>
                        </a>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Цвет</th>
                                <th class="actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for station in metro_stations %}
                                <tr>
                                    <td>{{ station.name }}</td>
                                    <td><span style="border-bottom: 4px solid {{ station.color }}">{{ station.color }}</span></td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'venues:edit_metro_station' venue.pk station.pk %}" class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'venues:delete_metro_station' venue.pk station.pk %}" class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Для этой площадки нет станций метро!</h2>
                        <a href="{% url 'venues:create_metro_station' venue.pk %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить станцию метро</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="content">
                {% if games %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Игры по площадке</h2>
                        <a href="{% url 'games:create' %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить игру</button>
                        </a>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th>Название</th>
                                <th class="date_time">Дата и время</th>
                                <th>Площадка</th>
                                <th>Уровень игры</th>
                                <th>Цена</th>
                                <th>Статус</th>
                                <th>Количесво игроков со стороны</th>
                                <th class="actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td class="id">
                                        <a href="{% url 'games:details' game.pk %}" class="object_link">
                                            {{ game.pk }}
                                        </a>
                                    </td>
                                    <td>{{ game.title }}</td>
                                    <td>{{ game.timespan }}</td>
                                    <td>
                                        <a href="{% url 'venues:details' game.venue.pk %}" class="object_link">
                                            {{ game.venue }}
                                        </a>
                                    </td>
                                    <td>{{ game.get_level_display }}</td>
                                    <td>{{ game.price }} {{ game.currency }}</td>
                                    <td>{{ game.get_game_status_display }}</td>
                                    <td>{{ game.get_a_side_players_count_display }}</td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'games:edit' game.pk %}" class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'games:delete' game.pk %}" class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                        <a href="{% url 'games:cancel' game.pk %}" class="non_href">
                                            <button class="btn btn-block cancel_btn">Отменить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Для этой площадки нет игр!</h2>
                        <a href="{% url 'games:create' %}" class="non_href ml-auto">
                            <button class="btn btn-success add_btn">Добавить игру</button>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="content">
                {% if canceled_games %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Отмененные игры по площадке</h2>
                    </div>
                    <hr>
                    <div class="table_content">
                        <table>
                            <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th>Название</th>
                                <th class="date_time">Дата и время</th>
                                <th>Площадка</th>
                                <th>Уровень игры</th>
                                <th>Цена</th>
                                <th>Статус</th>
                                <th>Количесво игроков со стороны</th>
                                <th class="canceled_actions">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for canceled_game in canceled_games %}
                                <tr>
                                    <td class="id">
                                        <a href="{% url 'games:details' canceled_game.pk %}" class="object_link">
                                            {{ canceled_game.pk }}
                                        </a>
                                    </td>
                                    <td>{{ canceled_game.title }}</td>
                                    <td>{{ canceled_game.timespan }}</td>
                                    <td>
                                        <a href="{% url 'venues:details' canceled_game.venue.pk %}" class="object_link">
                                            {{ canceled_game.venue }}
                                        </a>
                                    </td>
                                    <td>{{ canceled_game.get_level_display }}</td>
                                    <td>{{ canceled_game.price }} {{ canceled_game.currency }}</td>
                                    <td>{{ canceled_game.get_game_status_display }}</td>
                                    <td>{{ canceled_game.get_a_side_players_count_display }}</td>
                                    <td class="d_flex justify-content-center">
                                        <a href="{% url 'games:edit' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-warning edit_btn">Редактировать</button>
                                        </a>
                                        <a href="{% url 'games:delete' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-danger delete_btn">Удалить</button>
                                        </a>
                                        <a href="{% url 'games:renew' canceled_game.pk %}" class="non_href">
                                            <button class="btn btn-block renew_btn">Возобновить</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <h2 class="empty_h_1">Для этой площадки нет отмененных игр!</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}